version: '3'

services:

  nginx:
    image: nginx
    restart: always
    container_name: nginx
    ports:
      - 8000:80
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django
      - laravel

  django:
    build: ./django-shop-users/.
    restart: always
    container_name: django
    command: >
      bash -c "
        python manage.py makemigrations &&
        python manage.py migrate &&
        python manage.py seed_superuser &&
        python manage.py runserver 0.0.0.0:80
      "
    depends_on:
      - database
    volumes:
      - ./django-shop-users:/app/

  laravel:
    build: ./eCommerce_back/.
    restart: always
    container_name: laravel
    command: >
      sh -c "
        php artisan migrate &&
        php artisan serve
      "
    depends_on:
      - database
    volumes:
      - ./eCommerce_back:/app/

  database:
    image: postgres
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - 9000:5432

volumes:
  db:
